// Vendor -------------- //
@import 'lib/reset';

// Core -------------- //
@import 'core/vars';
@import 'core/utils';
@import 'core/icon';

// Partials -------------- //
@import 'partials/typography';
@import 'partials/header';
@import 'partials/filter';
@import 'partials/submitbtn';
@import 'partials/podcastloop';
@import 'partials/gridswitch';
@import 'partials/footer';
@import 'partials/a11y';
@import 'partials/editorial';
@import 'partials/home';
@import 'partials/post-page';
@import 'partials/latest-page';
@import 'partials/runner-picks';

[data-touch="false"] .mobileOnly {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

.desktopOnly {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    transform-style: preserve-3d;
}

#main-content {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 2.5rem;
}

body:not(.home-page) #main-content {
    max-width: $content-max-width;
}

body.home-page #main-content {
    max-width: $home-content-max-width;
}

@include allAbove(medium) {
    [data-touch="false"] .mobileOnly {
    }

    [data-touch="false"] .mobileOnly {
        display: block;
    }
}

.main {
    @include allAbove(medium) {
    }
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
