.filter {
    padding: 1rem;
    font-size: 1rem;

    &__title {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0 0 .5rem 0;
    }

    legend {
        font-weight: bold;
        margin: 0 0 .25rem 0;
        float: left;
    }

    fieldset {
        display: flex;
        margin: 0 0 .5rem 0;
    }

    &__reset{
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background: transparent;
        margin-left: .5rem;

        &.checked {
            background-color: $contrast;
            border-color: $contrast;
        }
    }

    &__checkboxes span, &__reset{
        padding: .25rem .5rem;
        font-size: 1rem;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
            border-color: black;
        }
    }
    
    &__checkboxes {
        display: block;

        label {
            
        }

        span {
           
        }

        input {
            position: absolute;
            display: none;
            left: -999999px;
            color: #fff !important;

            &:checked {
                +span {
                    background: $contrast;

                    &:hover {
                        cursor: default;
                    }
                }
            }
        }
    }
}

.filter ul {
    display: flex;
    list-style: none;
}

.filter__item{
    margin: .25rem;
    padding: .5rem;
}

.hidden-language, 
.hidden-category {
    display: none;
}

.active-language-filter {
    
}

