.footer{
    margin: 8rem 0 2rem 0;
    padding: 0 1rem;
    text-align: center;

    .submit-btn {
        margin: 0 0 2rem 0;

        @include allAbove(medium){
            display: none;
        }
    }
}

