.header {
    padding: 1rem;
    margin: 0 0 1rem 0;
    
    &__description {}

    .no-touch & {
        
    }

    @include allAbove(medium){
        padding: 3rem 1rem 0 1rem;
    }
    
    .submit-btn {   
        display: none;

        @include allAbove(medium){
            display: block;
            position: absolute;
        }
    }
}