.header {
    padding: 3rem 1rem 0 1rem;
    margin: 0 0 1rem 0;

    &__title {
        font-size: 2.5rem;
        font-family: 'Fugaz One', sans-serif;
    }

    &__description {}

    .no-touch & {
        
    }

    @include allAbove(large){
        
    }
    
    
    &__submit-btn {
        position: absolute;
        top: .5rem;
        right: .5rem;
        border: 1px solid black;
        padding: .5rem;
        background: transparent;
        text-decoration: none;
        color: black;
        font-size: .85rem;

        &:hover {
            background: $contrast;
            border-color: black;
            color: black;
        }
    }
}