.podcast-loop {
    max-width: 100%;
	margin: auto;
	padding: 1rem;
    font-size: 1rem;

    &__item {
        padding: .5rem;
        list-style: none;
        border: 1px solid $contrast;

        @include allAbove(medium){
           // width: 33%;
        }

        &__description {
            margin: .5rem 0;
        }
        &__link-title {
            font-weight: bold;
            margin: 1rem 0 .5rem 0;
        }
        &__links {
            list-style: none;
            display: block;

            a {
                display: inline-block;

            }
        }
    }
    header h2 {
        font-weight: bold;
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
    }

    article{}
    h3 {}
    ul {}
    li {}

    img {
        width: 100%;
        display: block;
    }
}
.no-podcast-found {
    display: none;

    .no-podcasts & {
        display: block;
    }
}
.podcast-loop__item__tags{
    margin: .5rem 0 0 0;
    font-size: .8rem;
    color: rgba(0,0,0, .5);
}
.podcast-loop__item__tag-title {
    display: inline;
}
.podcast-loop__item__tags ul{
    list-style: none;
    display: inline;
}
.podcast-loop__item__tags li {
    display: inline;
    text-transform: capitalize;
}
.taglist__item~.taglist__item::before {
    content: "| ";
}


//Masonry
.podcast-loop {

    --masonry-columns: 2;
	--masonry-gap: 1rem;
}

@media (min-width: 768px) {
    .podcast-loop {
        --masonry-columns: 3;
        --masonry-gap: .5rem;
    }
}

@media (min-width: 1024px) {
	.podcast-loop {
		--masonry-columns: 4;
		--masonry-gap: 2rem;
	}
}


@supports (grid-template-rows: masonry) {
	.podcast-loop {
		display: grid;
		grid-template-columns: repeat(var(--masonry-columns), 1fr);
		grid-gap: var(--masonry-gap);
		grid-template-rows: masonry;
	}
    .podcast-loop > * {
		margin-bottom: 0;
	}
}


/* fallback */
.podcast-loop {
	column-count: var(--masonry-columns);
	column-gap: var(--masonry-gap);
}

.podcast-loop > * {
	margin-bottom: var(--masonry-gap);
	break-inside: avoid;
}
