body{
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.15rem;
    line-height: 1.35;
}
h1 {
    font-size: 2rem;
    font-weight: bold; 
    
    @include allAbove(medium){
        
    }
}

header h1 {
    font-size: 2.5rem;
    font-family: 'Fugaz One', sans-serif;
}

h3 {
    font-weight: bold;
}

a {
    color: black;
    text-decoration: underline;
    font-style: italic;

    &:hover {
        background: $contrast;
        color: black;
        cursor: pointer;
    } 
}

em {
    font-weight: bold;
}

