<div class="filter" id="filter">           
    <h3 class="filter__title">Sort by:</h3>
    <form onsubmit="return false">
        <fieldset>
            <legend>Category:</legend>
            <div class="filter__checkboxes">
                <button type="button" class="filter__reset checked"><span>All {% for cat in site.categories %} {{ cat[0] }} ({{ cat[1].size }}) {% endfor %} </span></button>
                <label><input type="checkbox" id="trail" /><span>Trail</span></label>
                <label><input type="checkbox" id="track" /><span>Track</span></label>
                <label><input type="checkbox" id="ultra" /><span>Ultra</span></label>
                <label><input type="checkbox" id="road" /><span>Road</span></label>
                <label><input type="checkbox" id="subultra" /><span>Sub ultra</span></label>
                <label><input type="checkbox" id="science" /><span>Science</span></label>
                <label><input type="checkbox" id="business" /><span>Business</span></label>
            </div>
        </fieldset>

        <fieldset>
            <legend>Language:</legend>
            <div class="filter__checkboxes">
                <button type="button" class="filter__reset checked"><span>All</span></button>
                <label><input type="checkbox" id="english" /><span>English</span></label>
                <label><input type="checkbox" id="norwegian" /><span>Norwegian</span></label>
                <label><input type="checkbox" id="swedish" /><span>Swedish</span></label>
                <label><input type="checkbox" id="danish" /><span>Danish</span></label>
            </div>
        </fieldset>
    </form>
</div>