<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Curated Running Podcasts | A hand picked selection of running related podcasts worth listening to</title>

<!--  Essential META Tags -->
<meta property="og:title" content="Curated Running Podcasts | A hand picked selection of running related podcasts worth listening to">
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ "/assets/img/social.jpg" | relative_url }}>
<meta property="og:url" content="http://curatedrunningpodcasts.com">
<meta name="twitter:card" content="summary_large_image">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/style/main.css" | relative_url }}">
<link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.png" | relative_url }}">
 