/*
* Breakpoints
* ======================================================================== */
$breakpoints: (
    'small': 320px,
    'medium': 700px,
    'large': 1024px,
    'xLarge': 1400px
);


$contrast: #70ac8e47;

$content-max-width: 52rem;
$home-content-max-width: 72rem;