/*
* Breakpoints
* ======================================================================== */
$breakpoints: (
    'small': 320px,
    'medium': 700px,
    'large': 1024px,
    'xLarge': 1400px
);


$contrast: #70ac8e47;