<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9K8N2QJRNZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9K8N2QJRNZ');
</script>

<body>
    <main>
        {% include header.html %}
        {% include filter.html %}
		{% include podcastloop.html %}
	</main>
	
{% include footer.html %}